#!/usr/bin/env bash

source $HOME/dev/binx/profile/sane_bash.sh

############### VENV ###############
# Emulate the pipenvs's activate, because we can't source things in direnv
layout_pipenv
#dotenv

############### Exports ###############
PROJ_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
export PROJ_DIR
Green "-M- exporting PROJ_DIR: $PROJ_DIR"

tmux rename-window $(basename $PROJ_DIR)

export senv="source $PROJ_DIR/scripts/env.sh"

PATH_add $PROJ_DIR/scripts
