language: python

cache: pip

python:
    - "3.6"
    - "3.7-dev"

env:
    - STARLETTE_TEST_DATABASE=postgresql://localhost/starlette

services:
    - postgresql

install:
    - pip install -r requirements.txt

before_script:
    - psql -c 'create database starlette;' -U postgres

script:
    - scripts/test

after_script:
    - codecov
