[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
pytest-asyncio = "*"
pytest = "*"
pytest-cov = "*"
mkdocs = "*"
mkdocs-material = "*"
mkautodoc = "*"

[packages]
aiofiles = "*"
graphene = "*"
itsdangerous = "*"
python-multipart = "*"
requests = "*"
ujson = "*"
autoflake = "*"
mypy = "*"
Jinja2 = "*"
PyYAML = "*"
databases = {extras = ["sqlite"],version = "*"}

[requires]
python_version = "3.7"
