# Optionals
-e .[full]

# Testing
coverage==7.3.2
importlib-metadata==7.0.1
mypy==1.7.1
ruff==0.1.6
typing_extensions==4.8.0
types-contextvars==2.4.7.3
types-PyYAML==6.0.12.12
types-dataclasses==0.6.6
pytest==7.4.0
trio==0.22.2
anyio==4.0.0

# Documentation
mkdocs==1.5.3
mkdocs-material==9.1.17
mkautodoc==0.2.0

# Packaging
build==1.0.3
twine==4.0.2
