# Optionals
-e .[full]

# Testing
autoflake==1.5.3
black==22.12.0
coverage==7.0.1
flake8==3.9.2
importlib-metadata==4.13.0
isort==5.10.1
mypy==0.991
typing_extensions==4.4.0
types-contextvars==2.4.7
types-PyYAML==6.0.12.2
types-dataclasses==0.6.6
pytest==7.2.0
trio==0.21.0

# Documentation
mkdocs==1.4.2
mkdocs-material==8.5.7
mkautodoc==0.2.0

# Packaging
build==0.9.0
twine==4.0.2
